<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      ID CARD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card" data-state="#about">
    <div class="card-header">
      <div class="card-cover" style="background-image: url('assets/Images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg')"></div>
      <img class="card-avatar" src="assets/Images/test.jpg" alt="avatar" />
      <h1 class="card-fullname">Albert Einstein</h1>
      <h2 class="card-jobtitle">HRD PT.Mencari Cinta Sejati</h2>
    </div>
    <div class="ingfo baru">
      <tr>
        <td>12345678</td>
        <td></td>
      </tr>
      <tr><td>||</td></tr>
      <tr>
        <td>FEKBIS</td>
      </tr>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">ABOUT</div>
          <p style="text-align: justify;" class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor sed dui nec maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce commodo pretium ipsum, quis feugiat risus.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
